name: Rus–µ
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build-dry-run:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - run: cargo build
  test:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - run: cargo test
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - run: cargo build --release