name: Rust
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  CARGO_TERM_COLOR: always
jobs:
  check-env:
    runs-on: self-hosted
    name: check-env
    steps:
    - run: cargo --version
  build-dry-run:
    runs-on: self-hosted
    needs:
    - check-env
    steps:
    - uses: actions/checkout@v2
    - run: cargo build
  test:
    runs-on: self-hosted
    needs:
    - build-dry-run
    steps:
    - run: cargo test
  build:
    runs-on: self-hosted
    needs:
    - test
    steps:
    - run: cargo build --release
  create-image-tag:
    runs-on: self-hosted
    needs:
    - build
    steps:
    - run: touch tag.txt | git tag -l --points-at $(git log -n 1 --pretty=%h) > tag.txt | echo "release-$(cat tag.txt)" > tag.txt
  build-image:
    runs-on: self-hosted
    needs:
    - create-image-tag
    env:
      DOCKER_REPOSITORY: artkonr/guess-game
    steps:
    - run: IMAGEID=$(docker build -q -t $DOCKER_REPOSITORY:$(cat tag.txt) .)
  publish-image:
    runs-on: self-hosted
    env:
      DOCKER_REPOSITORY: artkonr/guess-game
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    needs:
    - build-image
    steps:
    - run: docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD | docker push $DOCKER_REPOSITORY:$(cat tag.txt)
    #publish-image:
  #  runs-on: self-hosted
  #  needs:
  #  - build
  #  steps:
  #  - env:
  #      DOCKER_REPOSITORY: artkonr/guess-game
  #      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  #      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  #  - run: touch tag.txt | git tag -l --points-at $(git log -n 1 --pretty=%h) > tag.txt | echo "release-$(cat tag.txt) > tag.txt
  #    name: create-image-tag
  #  - run: IMAGEID=$(docker build -q -t $DOCKER_REPOSITORY:$(cat tag.txt) .)
  #    name: build-image
  #  - run: docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD | docker push $DOCKER_REPOSITORY:$(cat tag.txt)
  #    name: publish-image
  #  - run: rm tag.txt
  #    name: clean-up
