name: Rust
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - name: Ensure-Prerequisites
      run: cargo version
    - name: Build-Dry-Run
      run: cargo build --verbose
    - name: Test
      run: cargo test
    - name: Build
      run: cargo build --verbose --release
