name: Rust
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  CARGO_TERM_COLOR: always
jobs:
  check-env:
    runs-on: self-hosted
    name: check-env
    steps:
    - run: echo cargo --version
  build-dry-run:
    runs-on: self-hosted
    needs:
    - check-env
    steps:
    - uses: actions/checkout@v2
    - run: cargo build
  test:
    runs-on: self-hosted
    needs:
    - build-dry-run
    steps:
    - uses: actions/checkout@v2
    - run: cargo test
  build:
    runs-on: self-hosted
    needs:
    - test
    steps:
    - uses: actions/checkout@v2
    - run: cargo build --release