name: Rust
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  CARGO_TERM_COLOR: always
jobs:
  check-env:
    runs-on: self-hosted
    name: check-env
    steps:
    - run: cargo --version
      name: check-if-cargo-is-present
  build-dry-run:
    runs-on: self-hosted
    needs:
    - check-env
    steps:
    - uses: actions/checkout@v2
    - run: cargo build
      name: build-unoptimized
  build:
    runs-on: self-hosted
    needs:
    - build-dry-run
    steps:
    - run: cargo test
      name: run-unit-tests
    - run: cargo build --release
      name: build-optimized
  build-image:
    runs-on: self-hosted
    needs:
    - build
    env:
      DOCKER_REPOSITORY: artkonr/guess-game
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    steps:
    - name: build-and-publish
      run: |
        echo Building image...
        git tag -l --points-at $(git log -n 1 --pretty=%h) > GIT_TAG
        echo "Latest git tag $GIT_TAG"

        echo "release-$GIT_TAG" > IMAGE_TAG
        echo "Docker image will be tagged with $IMAGE_TAG"

        docker build -q -t $DOCKER_REPOSITORY:$IMAGE_TAG

        docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD

        docker push $DOCKER_REPOSITORY:$IMAGE_TAG
      #publish-image:
  #  runs-on: self-hosted
  #  needs:
  #  - build
  #  steps:
  #  - env:
  #      DOCKER_REPOSITORY: artkonr/guess-game
  #      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  #      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  #  - run: touch tag.txt | git tag -l --points-at $(git log -n 1 --pretty=%h) > tag.txt | echo "release-$(cat tag.txt) > tag.txt
  #    name: create-image-tag
  #  - run: IMAGEID=$(docker build -q -t $DOCKER_REPOSITORY:$(cat tag.txt) .)
  #    name: build-image
  #  - run: docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD | docker push $DOCKER_REPOSITORY:$(cat tag.txt)
  #    name: publish-image
  #  - run: rm tag.txt
  #    name: clean-up
